---

---
<html>
<head>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css" type="text/css" media="screen">
    <meta charset="UTF-8">
    <title>Illustrationg the PHB</title>
</head>
<body style="background-image: {{ site.baseurl }}/assets/background.webp">
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li>By Character Class
                    <ul>
                        {% for class in site.data.classes %}
                        <li><a href="{{ site.baseurl }}/{{ class.link }}">{{ class.name }}</a>
                            <ul>
                                {% for race in site.data.races %}
                                <li><a href="{{ site.baseurl }}/{{ class.link }}/{{ race.link }}">{{ race.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>By Character Race
                    <ul>
                        {% for race in site.data.races %}
                        <li><a href="{{ site.baseurl }}/{{ race.link }}">{{ race.name }}</a>
                            <ul>
                                {% for class in site.data.classes %}
                                <li><a href="{{ site.baseurl }}/{{ race.link }}/{{ class.link }}">{{ class.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </body>
    </html>
