.container {  display: grid;
    grid-template-columns: 0.3fr 0.6fr 2.8fr 0.3fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      ". main main ."
      ". footer footer .";
      color: chartreuse;
  }
  
  .header {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". title ."
      ". . .";
    grid-area: header;
  }
  
  .footer { grid-area: footer; }
  .title { grid-area: title; }
  
  .main {  display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "toc content";
    grid-area: main;
  }
  
  .toc { grid-area: toc; }
  
  .content { grid-area: content; }
  