---
layout: page
---

{% assign toplevel =  page.url | split: '/' | first  %}
{% assign secondlevel =  page.url | split: '/' | last  %}
{% case toplevel %}
    {% when "classes" %}
        {% assign classes = site.data.classes | where: "link", secondlevel %}
        {% assign races = site.data.races %}
    {% when "races" %}
        {% assign classes = site.data.classes %}
        {% assign races = site.data.races | where: "link", secondlevel %}
    {% else %}
        {% assign classes = site.data.classes | where: "link", toplevel %}
        {% assign races = site.data.races | where: "link", secondlevel %}
{% endcase %}
Classes:
{% for class in classes %}{{class}}{% endfor %}<br />
Races:
{% for race in races %}{{races}}{% endfor %}<br />
<table>
    <thead>
        <tr>
        <th>Checkpoint</th>
        <th>Images</th>
    </tr>
    </thead>
    <tbody>
    {% for checkpoint in site.data.checkpoints %}
    <tr>
        <td><a href="{{checkpoint.link}}">{{checkpoint.name}}</a></td>
        {% for class in classes %}
            {% for race in races %}
                {% for seed in site.data.seeds %}
                <td>{{ race }} {{ class }}</td>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>
{{ content }}