---
layout: page
---

{% assign urlparts = page.url | split: '/' %}
{% assign toplevel =  urlparts[1]  %}
{% assign secondlevel =  urlparts[2]  %}
{% case toplevel %}
    {% when "classes" %}
        {% assign this_classes = site.data.classes | where: "link", secondlevel %}
        {% assign this_races = site.data.races %}
    {% when "races" %}
        {% assign this_classes = site.data.classes %}
        {% assign this_races = site.data.races | where: "link", secondlevel %}
    {% else %}
        {% assign this_classes = site.data.classes | where: "link", toplevel %}
        {% assign this_races = site.data.races | where: "link", secondlevel %}
{% endcase %}
<table>
    <thead>
        <tr>
        <th>Checkpoint</th>
        <th>Images</th>
    </tr>
    </thead>
    <tbody>
    {% for checkpoint in site.data.checkpoints %}
    <tr>
        <td><a href="{{checkpoint.link}}">{{checkpoint.name}}</a></td>
        {% for class in this_classes %}
            {% for race in this_races %}
                {% for seed in site.data.seeds %}
                <td>
                    {% capture imagename %}female-{{ race.link }}-{{ class.link }}-{{checkpoint.filename}}-{{ seed.seed }}.webp{% endcapture %}
                    {% assign image_exists = site.assets.images | where "name", imagename %}
                    {%if image_exists.size != 0 %}
                        {% capture imagepath %}/assets/images/{{imagename}}{% endcapture %}
                        <img src="{{imagepath | relative_url}}" alt="Female {{race.name}} {{class.name}} {{checkpoint.name}} {{seed.seed}}" width = "128px" height = "128px"/>
                    {% endif %}
                </td>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>
{{ content }}