<html>
<head>
    <link rel="stylesheet" href="{{'/assets/main.css' | relative_url}}" type="text/css" media="screen">
    <meta charset="UTF-8">
    <title>Illustrating the PHB</title>
    <style>
        body {
            background-image: url("{{'/assets/background.webp' | relative_url}}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment:fixed;
        }
    </style>
</head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="{{'/' | relative_url}} ">Illustrating the PHB</a></li>
            <li><a href="{{'/news' | relative_url}}">News</a></li>
            <li>By Character Class
                <ul>
                    {% for class in site.data.classes %}
                    {% capture classlink %}/classes/{{ class.link }}{% endcapture %}
                    <li><a href="{{ classlink | relative_url }}">{{ class.name }}</a>
                        <ul>
                            {% for race in site.data.races %}
                            {% capture classracelink %}/{{ class.link }}/{{ race.link }}{% endcapture %}
                            <li><a href="{{ classracelink | relative_url}}">{{ race.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>By Character Race
                <ul>
                    {% for race in site.data.races %}
                    {% capture racelink %}/races/{{ race.link }}{% endcapture %}
                    <li><a href="{{ racelink | relative_url }}">{{ race.name }}</a>
                        <ul>
                            {% for class in site.data.classes %}
                            {% capture classracelink %}/{{ class.link }}/{{ race.link }}{% endcapture %}
                            <li><a href="{{ classracelink | relative_url}}">{{ class.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        </nav>
    </header>
    
    <main>
    {{ content }}
    </main>

    <footer>
        <a href="#">Contact info</a>
        <a href="#">Legal info</a>
      </footer>
    </body>
    </html>
